<html>
<head>
	<title>New Expense</title>
</head>
<body>
	<h1>Explain Yourself</h1>
	<form method="post" action="/save">
	<label for="item">Name of Item: </label>
	<input type="text" name="item" />
	<br>
	<label for="amount">Amount: </label>
	<input type="text" name="amount" />
	<br>
	<input type="submit" value="Huhuhu" />
	</form>
</body>
</html>